@import "compass/css3/font-face";

@include font-face(
    'Android-Action-Bar-Icon-Pack',
    font-files(
        'Android-Action-Bar-Icon-Pack.eot',
        'Android-Action-Bar-Icon-Pack.svg',
        'Android-Action-Bar-Icon-Pack.ttf',
        'Android-Action-Bar-Icon-Pack.woff'
    ),
    'Android-Action-Bar-Icon-Pack.eot',
    normal,
    normal
);

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'Android-Action-Bar-Icon-Pack';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'Android-Action-Bar-Icon-Pack';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-navigation-back:before {
    content: "\e001";
}
.icon-navigation-accept:before {
    content: "\e002";
}
.icon-navigation-cancel:before {
    content: "\e003";
}
.icon-navigation-collapse:before {
    content: "\e004";
}
.icon-navigation-expand:before {
    content: "\e005";
}
.icon-navigation-forward:before {
    content: "\e006";
}
.icon-navigation-next-item:before {
    content: "\e007";
}
.icon-navigation-previous-item:before {
    content: "\e008";
}
.icon-navigation-refresh:before {
    content: "\e009";
}
.icon-action-about:before {
    content: "\e010";
}
.icon-action-help:before {
    content: "\e011";
}
.icon-action-search:before {
    content: "\e012";
}
.icon-action-settings:before {
    content: "\e013";
}
.icon-rating-bad:before {
    content: "\e020";
}
.icon-rating-favorite:before {
    content: "\e021";
}
.icon-rating-good:before {
    content: "\e022";
}
.icon-rating-half-important:before {
    content: "\e023";
}
.icon-rating-important:before {
    content: "\e024";
}
.icon-rating-not-important:before {
    content: "\e025";
}
.icon-collections-cloud:before {
    content: "\e030";
}
.icon-collections-collection:before {
    content: "\e031";
}
.icon-collections-go-to-today:before {
    content: "\e032";
}
.icon-collections-labels:before {
    content: "\e033";
}
.icon-collections-new-label:before {
    content: "\e034";
}
.icon-collections-sort-by-size:before {
    content: "\e035";
}
.icon-collections-view-as-grid:before {
    content: "\e036";
}
.icon-collections-view-as-list:before {
    content: "\e037";
}
.icon-content-attachment:before {
    content: "\e040";
}
.icon-content-backspace:before {
    content: "\e041";
}
.icon-content-copy:before {
    content: "\e042";
}
.icon-content-cut:before {
    content: "\e043";
}
.icon-content-discard:before {
    content: "\e044";
}
.icon-content-edit:before {
    content: "\e045";
}
.icon-content-email:before {
    content: "\e046";
}
.icon-content-event:before {
    content: "\e047";
}
.icon-content-import-export:before {
    content: "\e048";
}
.icon-content-merge:before {
    content: "\e049";
}
.icon-content-new:before {
    content: "\e04a";
}
.icon-content-new-attachment:before {
    content: "\e04b";
}
.icon-content-new-email:before {
    content: "\e04c";
}
.icon-content-new-event:before {
    content: "\e04d";
}
.icon-content-new-picture:before {
    content: "\e04e";
}
.icon-content-paste:before {
    content: "\e04f";
}
.icon-content-picture:before {
    content: "\e050";
}
.icon-content-read:before {
    content: "\e051";
}
.icon-content-remove:before {
    content: "\e052";
}
.icon-content-save:before {
    content: "\e053";
}
.icon-content-select-all:before {
    content: "\e054";
}
.icon-content-split:before {
    content: "\e055";
}
.icon-content-undo:before {
    content: "\e056";
}
.icon-content-unread:before {
    content: "\e057";
}
.icon-social-add-group:before {
    content: "\e060";
}
.icon-social-add-person:before {
    content: "\e061";
}
.icon-social-cc-bcc:before {
    content: "\e062";
}
.icon-social-chat:before {
    content: "\e063";
}
.icon-social-forward:before {
    content: "\e064";
}
.icon-social-group:before {
    content: "\e065";
}
.icon-social-person:before {
    content: "\e066";
}
.icon-social-reply:before {
    content: "\e067";
}
.icon-social-reply-all:before {
    content: "\e068";
}
.icon-social-send-now:before {
    content: "\e069";
}
.icon-social-share:before {
    content: "\e06a";
}
.icon-location-directions:before {
    content: "\e070";
}
.icon-location-map:before {
    content: "\e071";
}
.icon-location-place:before {
    content: "\e072";
}
.icon-location-web-site:before {
    content: "\e073";
}
.icon-images-crop:before {
    content: "\e080";
}
.icon-images-rotate-left:before {
    content: "\e081";
}
.icon-images-rotate-right:before {
    content: "\e082";
}
.icon-images-slideshow:before {
    content: "\e083";
}
.icon-av-add-to-queue:before {
    content: "\e090";
}
.icon-av-download:before {
    content: "\e091";
}
.icon-av-fast-forward:before {
    content: "\e092";
}
.icon-av-full-screen:before {
    content: "\e093";
}
.icon-av-make-available-offline:before {
    content: "\e094";
}
.icon-av-next:before {
    content: "\e095";
}
.icon-av-pause:before {
    content: "\e096";
}
.icon-av-pause-over-video:before {
    content: "\e097";
}
.icon-av-play:before {
    content: "\e098";
}
.icon-av-play-over-video:before {
    content: "\e099";
}
.icon-av-previous:before {
    content: "\e09a";
}
.icon-av-repeat:before {
    content: "\e09b";
}
.icon-av-replay:before {
    content: "\e09c";
}
.icon-av-return-from-full-screen:before {
    content: "\e09d";
}
.icon-av-rewind:before {
    content: "\e09e";
}
.icon-av-shuffle:before {
    content: "\e09f";
}
.icon-av-stop:before {
    content: "\e0a0";
}
.icon-av-upload:before {
    content: "\e0a1";
}
.icon-device-access-accounts:before {
    content: "\e0b0";
}
.icon-device-access-add-alarm:before {
    content: "\e0b1";
}
.icon-device-access-alarms:before {
    content: "\e0b2";
}
.icon-device-access-battery:before {
    content: "\e0b3";
}
.icon-device-access-bightness-low:before {
    content: "\e0b4";
}
.icon-device-access-bluetooth:before {
    content: "\e0b5";
}
.icon-device-access-bluetooth-connected:before {
    content: "\e0b6";
}
.icon-device-access-bluetooth-searching:before {
    content: "\e0b7";
}
.icon-device-access-brightness-auto:before {
    content: "\e0b8";
}
.icon-device-access-brightness-high:before {
    content: "\e0b9";
}
.icon-device-access-brightness-medium:before {
    content: "\e0ba";
}
.icon-device-access-call:before {
    content: "\e0bb";
}
.icon-device-access-camera:before {
    content: "\e0bc";
}
.icon-device-access-data-usage:before {
    content: "\e0bd";
}
.icon-device-access-dial-pad:before {
    content: "\e0be";
}
.icon-device-access-end-call:before {
    content: "\e0bf";
}
.icon-device-access-flash-automatic:before {
    content: "\e0c0";
}
.icon-device-access-flash-off:before {
    content: "\e0c1";
}
.icon-device-access-flash-on:before {
    content: "\e0c2";
}
.icon-device-access-location-found:before {
    content: "\e0c3";
}
.icon-device-access-location-off:before {
    content: "\e0c4";
}
.icon-device-access-location-searching:before {
    content: "\e0c5";
}
.icon-device-access-mic:before {
    content: "\e0c6";
}
.icon-device-access-mic-muted:before {
    content: "\e0c7";
}
.icon-device-access-network-cell:before {
    content: "\e0c8";
}
.icon-device-access-network-wifi:before {
    content: "\e0c9";
}
.icon-device-access-new-account:before {
    content: "\e0ca";
}
.icon-device-access-not-secure:before {
    content: "\e0cb";
}
.icon-device-access-ring-volume:before {
    content: "\e0cc";
}
.icon-device-access-screen-locked-to-landscape:before {
    content: "\e0cd";
}
.icon-device-access-screen-locked-to-portrait:before {
    content: "\e0ce";
}
.icon-device-access-screen-rotation:before {
    content: "\e0cf";
}
.icon-device-access-sd-storage:before {
    content: "\e0d0";
}
.icon-device-access-secure:before {
    content: "\e0d1";
}
.icon-device-access-storage:before {
    content: "\e0d2";
}
.icon-device-access-switch-camera:before {
    content: "\e0d3";
}
.icon-device-access-switch-video:before {
    content: "\e0d4";
}
.icon-device-access-time:before {
    content: "\e0d5";
}
.icon-device-access-usb:before {
    content: "\e0d6";
}
.icon-device-access-video:before {
    content: "\e0d7";
}
.icon-device-access-volume-muted:before {
    content: "\e0d8";
}
.icon-device-access-volume-on:before {
    content: "\e0d9";
}
.icon-alerts-and-states-airplane-mode-off:before {
    content: "\e0e0";
}
.icon-alerts-and-states-airplane-mode-on:before {
    content: "\e0e1";
}
.icon-alerts-and-states-error:before {
    content: "\e0e2";
}
.icon-alerts-and-states-warning:before {
    content: "\e0e3";
}
.icon-hardware-computer:before {
    content: "\e0f0";
}
.icon-hardware-dock:before {
    content: "\e0f1";
}
.icon-hardware-gamepad:before {
    content: "\e0f2";
}
.icon-hardware-headphones:before {
    content: "\e0f3";
}
.icon-hardware-headset:before {
    content: "\e0f4";
}
.icon-hardware-keyboard:before {
    content: "\e0f5";
}
.icon-hardware-mouse:before {
    content: "\e0f6";
}
.icon-hardware-phone:before {
    content: "\e0f7";
}
